* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container-layout {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.img-section {
  display: flex;
  flex-direction: column;
}

.menu {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub-menu {
  width: 25%;
  float: left;
  background-color: aqua;
  margin: 1px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 760px) {
  .container-layout {
    width: 100%;
  }
  .img-section {
    width: 100%;
    background-color: yellow;
  }
  .header {
    width: 100%;
  }
}

@media (min-width: 1170px) {
  .container-layout {
    width: 50%;
  }
}
