body {
  background-color: rgba(255, 228, 134, 0.28);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px auto;
}

.title-img {
  height: auto;
  width: 100%;
}

header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

@media screen and ( max-width: 760px ) {

  .container-layout {
    background-color : yellow;
  }
}

@media screen and ( min-width: 1170px ) {

  .container-layout {
    background-color : red;
  }
}

@media screen and ( orientation: landscape ) {
  
  .container-orientation {
    border : 1px solid red;
  }
}
