body {
  margin: 0;
  padding: 0;
}

.brasoes {
  width: 100px;
}

.container-layout {
  display: flex;
  flex-wrap: wrap;
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( orientation : landscape ) {

  body {
    margin: 0 50px;
  }
}
