html , body , div , p , form , input , main , label , section {
  border: 0;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategray;
}

.container-layout {
  background-color: green;
  background-image: url('images/sonserina.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  transition: background-color 2s, background-image 2s;
}

.links {
  background-color: black;
  display: flex;
  justify-content: space-around;
  transition: background-color 2s;
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }

}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    background-image: url('images/lufa-lufa.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 2s, background-image 2s;
  }

  .links {
    background-color: black;
    transition: background-color 2s;
  }

}

@media screen and ( min-width : 761px ) and ( max-width : 965px ) {

  .container-layout {
    background-color: blue;
    background-image: url('images/corvinal.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 2s, background-image 2s;
  }

  .links {
    background-color: grey;
    transition: background-color 2s;
  }

}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
    background-image: url('images/grifinoria.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 2s, background-image 2s;
  }

  .links {
    background-color: gold;
    transition: background-color 2s;
  }
}

.profeta {
  height: 5em;
}


.links a {
  color: white;
  text-decoration: none;
  text-shadow: gray 2px 3px 2px;
}

.fly {
  animation: flying 4s steps(200, jump-none) 3s 3 alternate forwards;
  height: 55px;
  margin-left: -95%;
  position: relative;
}

@keyframes flying {

  0% {
    margin-left: -95%;
    transform: skew(0, 25deg) scale(1, 1) translate(0, -50px);
  }

  50% {
    margin-left: 50%;
    transform: rotate(115deg) scale(1, 1) translate(0, 20px);
  }

  100% {
    margin-left: 90%;
    transform: rotate(-25deg) skew(-50deg, 180deg);
  }
}

main {
  display: flex;
  flex-direction: column;
}

section {
  margin: 30px 0;
  padding: 10px;
}

article {
  font-size: 20px;
  text-align: justify;
}

aside {
  align-content: space-around;
  background-color: rgb(14, 59, 14);
  display: flex;
  flex-wrap: wrap;
  float: right;
  height: 100%;
  justify-content: space-around;
  text-align: center;
  width: 20%;
}

.copo {
  animation: swing 1s steps(1) infinite alternate;
  height: 50px;
  margin: 0 auto;
}

.copo:hover {
  opacity: 0;
  transition: opacity 2s;
}

@keyframes swing {

  0% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(25deg);
  }
}


.alert {
  text-align: center;
}

.copy {
  color: white;
  text-shadow: gray 2px 3px 2px;
}

footer {
  background-color: black;
  clear: both;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
}

.article-animation {
  animation: article-grow 4s  linear 2 alternate paused;
}

@keyframes article-grow {

  from {
    font-weight: 400;
    transform: scale(1);
  }

  to {
    font-weight: 800;
    transform: scale(1.5);
  }
}
