.conteudo {
  background: #fff8ee;
  border: 4px solid #ece7dd;
  margin: auto 0;
  max-width: 760px;
  position: relative;
}

.container-layout {
  background-color: yellow;
  background-size: cover;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.imgtopo {
  background: #fff8ee;
  max-width: 100%;
}

.maverick {
  max-width: 760px;
  overflow: hidden;
  position: relative;
}

.fly {
  animation: flying 3s steps(2, end);
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-timing-function: linear;
  max-width: 100px;
}

@keyframes flying {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: rotate3d(0, 1, 0, 20deg);
  }

  100% {
    transform: translateX(780px);
  }
}

.cont-art2c {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.box-h {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imgHogwarts {
  padding-left: 10px;
  width: 98%;
}

p {
  font-size: 14px;
  margin: 5px;
  text-align: justify;
}

.art50-direito {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 10px;
  width: 48%;
}

.art50-esquerdo {
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 48%;
}

.scale:hover {
  animation-duration: 1s;
  animation-name: scale;
}

@keyframes scale {

  0% {
    transform: scale(1.5);
    transition-timing-function: ease-in;
  }

  100% {
    position: initial;
  }
}

.skew:hover {
  animation-duration: 2s;
  animation-name: skew;
}

@keyframes skew {
  
  0% {
    transform: skew(20deg);
    transition-timing-function: ease-out;
  }

  100% {
    position: initial;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    background-color: blue;
    border: 1px solid red;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
    border: 1px solid black;
  }
}
