body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Artifika, serif;
  text-align: justify;
  width: 100%;
}

.skew {
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: skew;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: go;
  left: 0;
}

@keyframes skew {

  0% {
    transform: skewX(20deg);
  }

  100% {
    transform: skewX(-20deg);
  }
}

@keyframes go {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(95%);
  }
}

@media only screen and ( max-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and ( orientation : landscape ) {
  
  .container-orientation {
    border: 1px solid red;
  }
}
