@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px) {

  .container-layout {
    background-color: red;
  }
}

@media ( max-width : 760px ) and ( orientation: landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
