h1 {
  font-size: 45px;
  margin-bottom: 10px;
  text-align: center;
}

h1:hover {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: skew;
}

@keyframes skew {

  100% {
    transform: skew(1deg, 180deg);
  }
}

.nav-bar {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  font-size: 20px;
  height: 45px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-bar:hover {
  animation-direction: alternate;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-name: translate;
  animation-timing-function: ease-out;
}

@keyframes translate {

  100% {
    transform: translate(0, 30px);
  }
}

.article1 {
  font-size: 20px;
  text-align: justify;
}

.text-block {
  margin: 30px 0;
  opacity: 0;
  padding: 10px;
  transition: opacity 2s;
}

.text-block:hover {
  opacity: 1;
}

.cat-gif img {
  width: 100%;
}

.fly {
  animation: fly 1s infinite;
  margin: 30px;
  transform: rotate(45deg);
  width: 75px;
}

@keyframes fly {

  100% {
    transform: translate(1000px, 0);
  }
}

footer {
  align-items: center;
  background-color: lightgray;
  display: flex;
  height: 45px;
  justify-content: space-around;
  margin-top: 15px;
}

footer a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

footer a:hover {
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-name: shrink;
}

@keyframes shrink {

  100% {
    transform: scale(0.1);
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: solid 1px red;
  }
}

@media ( max-width : 760px ) {

  .text-block {
    margin: 30px 0;
  }

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  header {
    text-align: center;
  }

  .nav-bar {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    font-size: 35px;
    height: 90px;
    justify-content: space-around;
    margin-top: 10px;
  }

  .article1 {
    display: flex;
    margin-top: 35px;
  }

  .container-layout {
    background-color: red;
    font-size: 30px;
    padding: 0 40px;
    text-align: justify;
  }

  .cat-gif {
    margin-top: 45px;
    text-align: center;
  }

  .cat-gif img {
    border: 4px solid black;
  }

  footer {
    align-items: center;
    background-color: lightgray;
    display: flex;
    height: 90px;
    justify-content: space-around;
    margin-top: 15px;
  }

  footer a {
    color: black;
    font-size: 35px;
    text-decoration: none;
  }
}
