h1 , p , span , div , figure , img {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

body {
  background-color: #1c1915;
  color: #1c1915;
  font-family: Vollkorn, serif;
  font-size: 1rem;
  line-height: 1.15;
  margin: 20px;
  padding: 0 0.5em;
}

.fjalla {
  font-family: Fjalla One, sans-serif;
}

.kreon {
  font-family: Kreon, serif;
}

.grid {
  background-color: #fff8ee;
  border-radius: 0.5%;
  column-gap: 1em;
  display: grid;
  grid-template-columns: repeat(6, {{1fr}});
  margin: 0 auto;
  max-width: 64em;
  padding: 1em;
  row-gap: 0.5em;
}

.header {
  grid-column: 1/7;
  text-align: center;
}

.header figcaption {
  font-size: 1rem;
  letter-spacing: 0.3em;
  margin: 0.375em 0.5em 0;
  text-transform: uppercase;
}

.header figcaption:before {
  content: '*';
  font-size: 1.5rem;
  margin-left: -0.625em;
  position: absolute;
}

.header figcaption:after {
  content: '*';
  font-size: 1.5rem;
  position: absolute;
}

.hr-top {
  border-bottom: 1px solid #1c1915;
  border-top: 0.188em solid #1c1915;
  height: 0.125em;
  margin: 0.5em auto;
}

.hr-bottom {
  border-bottom: 0.188em solid #1c1915;
  border-top: 1px solid #1c1915;
  height: 0.125em;
  margin: 0.5em auto;
}

.logo-img {
  box-sizing: border-box;
  float: left;
  max-width: 15%;
}

.title-img {
  box-sizing: border-box;
  max-width: 85%;
}

.n3VNCb {
  max-width: 100%;
}

.section {
  grid-column: 1/7;
  line-height: 1;
  padding: 0;
}

.exclusive {
  align-items: center;
  background-color: #1c1915;
  color: #fff8ee;
  font-size: 2rem;
  grid-column: 1/3;
  padding-top: 5px;
  text-align: center;
}

.exclusive .fjalla:before {
  content: '>> ';
}

.exclusive .fjalla {
  font-size: 2.5rem;
}

.exclusive .fjalla:after {
  content: ' <<';
}

.content-exlusive {
  grid-column: 3/7;
}

.link {
  background-color: #1c1915;
  padding: 2.5px 5px 2.5px 0;
  text-align: right;
}

.link a {
  color: #fff8ee;
  padding: 0;
  text-decoration: none;
}

.section-news {
  grid-column: 1/7;
}

.article {
  column-gap: 1em;
  display: grid;
  grid-template-columns: repeat(4, {1fr});
  padding: 0.125em 0.125em 0 0.5em;
}

.article-title {
  font-size: 4rem;
  grid-column: 1/4;
  text-align: justify;
}

.ghost {
  margin: 0 0 10px;
}

.article-p1 {
  grid-column: 1/2;
}

.article-p1 p {
  padding: 0 0 20px;
}

.article-p2 {
  grid-column: 2/4;
}

.aside {
  grid-column: 4/5;
  grid-row: 1 / span 3;
}

.aside-header {
  background-color: #1c1915;
  color: #fff8ee;
  padding: 5px 0;
  text-align: center;
}

.aside-title {
  font-size: 2rem;
}


@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }

  body {
    margin: 10px;
  }

  .logo-img {
    display: none;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}
