@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px red solid;
  }
}

@keyframes flying {

  from {
    margin-left: 3%;
  }

  to {
    margin-left: 95%;
  }
}

@keyframes skewing {

  0% {
    transform: skew(0deg);
  }

  100% {
    transform: skew(180deg);
  }
}

@keyframes article-grow {

  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.5, 1.5);
  }
}

.tituto-top {
  transform: skew(180deg);
  transition: transform 10s linear 2s;

  /* animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: skewing;
  animation-timing-function: linear; 
  animation: name duration delay time-function(steps(number of steps) interation-count fill-mode) */
  width: fit-content;
}

.nave:hover {
  animation-timing-function: linear;
  color: black;
  font-weight: 700;
  transform: translateY(-5px);
}

.article-animation:active {
  animation: article-grow 4s steps(10) infinite forwards;
}

.article-animation:active p {
    font-weight: 700;
    transition: font-weight 4s linear 2s;
}

.article-animation:active h2 {
    font-weight: 700;
    transition: font-weight 4s linear 2s;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-timing-function: linear;
  margin-left: 3%;
  width: 3%;
}
