@media screen and ( max-width : 760px ) {

  .article-animation {
    animation-duration: 4s;
  }

  .container-layout {
    background-color: yellow;
    width: 80%;
  }

  .container-article {
    display: flex;
    flex-direction: row;
  }

  .fly {
    animation: flying 4s steps(200) 3 alternate forwards;

    /* a@media screen and ( max-width : 760px ) {nimation-direction: alternate;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-iteration-count: 3;
      animation-name: flying; */
    height: 17%;
    margin-left: -100px;
    transition: flying 4s;
    width: 17%;
  }

  @keyframes flying {

    0% {
      margin-left: -100px;
      transform: scale(1, 1) translate(0, 0);
    }

    50% {
      margin-left: 50%;
      transform: scale(1.3, 1.3) translate(0, -100px);
    }

    100% {
      margin-left: 100%;
      transform: scale(1, 1) translate(0, 0);
    }
  }

  @keyframes article-grow {

    0% {
      font-weight: 0;
      transform: scale(1, 1);
    }

    100% {
      font-weight: 800;
      transform: scale(1.5, 1.5);
    }
  }
}

@media screen and ( min-width : 1170px ) {

  .article-animation {
    animation-duration: 4s;
  }

  .container-layout {
    background-color: red;
    width: 80%;
  }

  .container-article {
    display: flex;
    flex-direction: row;
  }

  .fly {
    animation: flying 4s steps(200) 3 alternate forwards;

    /* a@media screen and ( max-width : 760px ) {nimation-direction: alternate;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-name: flying; */
    height: 17%;
    margin-left: -100px;
    transition: flying 4s;
    width: 17%;
  }

  @keyframes flying {

    0% {
      margin-left: -100px;
      transform: scale(1, 1) translate(0, 0);
    }

    50% {
      margin-left: 50%;
      transform: scale(1.3, 1.3) translate(0, -100px);
    }

    100% {
      margin-left: 100%;
      transform: scale(1, 1) translate(0, 0);
    }
  }

  @keyframes article-grow {

    0% {
      font-weight: 0;
      transform: scale(1, 1);
    }

    100% {
      font-weight: 800;
      transform: scale(1.5, 1.5);
    }
  }
}

@media screen and ( max-width : 760px ) and ( orientation : landscape ) {

  .article-animation {
    animation-duration: 4s;
  }

  .container-layout {
    background-color: yellow;
    width: 80%;
  }

  .container-article {
    display: flex;
    flex-direction: row;
  }

  .fly {
    animation: flying 4s steps(200) 3 alternate forwards;

    /* a@media screen and ( max-width : 760px ) {nimation-direction: alternate;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-iteration-count: 3;
      animation-name: flying; */
    height: 17%;
    margin-left: -100px;
    transition: flying 4s;
    width: 17%;
  }

  @keyframes flying {

    0% {
      margin-left: -100px;
      transform: scale(1, 1) translate(0, 0);
    }

    50% {
      margin-left: 50%;
      transform: scale(1.3, 1.3) translate(0, -100px);
    }

    100% {
      margin-left: 100%;
      transform: scale(1, 1) translate(0, 0);
    }
  }

  @keyframes article-grow {

    0% {
      font-weight: 0;
      transform: scale(1, 1);
    }

    100% {
      font-weight: 800;
      transform: scale(1.5, 1.5);
    }
  }
}
