article {
  border: 3px solid black;
  margin-bottom: 40px;
}

header {
  border-bottom: double;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 40px;
}

.logo-container {
  height: 10vh;
  width: 90vw;
}

header .meta-data-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
  width: 100%;
}

.container-layout {
  display: flex;
  flex-wrap: wrap;
}

.fly {
  animation: flying 3s ease 3s 3 alternate forwards;
}

.article-animation:active {
  animation-name: article-grow;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1000);
  word-wrap: break-word;
}

@keyframes flying {

  from {
    transform: translate(0, 0) skew(10deg);
  }

  25% {
    transform: translate(100%, 200%) skew(100deg);
  }

  50% {
    transform: translate(5%, 1500%) skew(10deg);
  }

  to {
    transform: translate(0, 0) skew(0deg);
  }
}

@keyframes article-grow {

  from {
    background-color: white;
    font-weight: 100;
    transform: scale(1);
  }

  to {
    font-weight: 900;
    transform: scale(1.5);
  }
}

@media only screen and ( max-width : 760px ) {

  body , h1 , h2 , h3 {
    margin: 0;
  }

  .container-layout {
    background-color: yellow;
  }

  article {
    background-color: rgb(250, 250, 93);
  }
}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media only screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
