.artigo-principal {
  display: flex;
  flex-direction: column;
}

body {
  background-color: white;
}

.container-layout {
  border: 1px solid red;
}

.fly {
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
}

hr {
  background-color: black;
  height: 5px;
}

.img1 {
  align-self: flex-end;
  height: 100%;
  margin-right: 10px;
  padding: 10px;
  width: 400px;
}

.img2 {
  width: 25%;
}

.img2:hover {
  transform: translate(200px);
  transition-duration: 3s;
  width: 50%;
}

.paragrafo1 {
  align-self: flex-start;
  display: flex;
  font-size: 30px;
  margin: 10px;
}

.paragrafo2 {
  background-color: sandybrown;
  font-size: 50px;
  text-align: center;
}

.secao1 {
  color: white;
}

.sub-hr {
  background: grey;
  height: 1px;
}

.titulo-principal {
  align-self: center;
  margin: 10px;
  width: 98%;
}
@media screen and ( min-width: 1170px ) {

  .figuras-principais {
    background-color: red;
  }
}

@media screen and ( max-width: 760px ) {
    footer {
    background-color: yellow;
    }
    .img1 {
    align-self: flex-start;
    display: flex;
    height: 200px;
    width: 200px;
  }
}

@keyframes flying {
  from {
    background-color: sandybrown;
    opacity: 0;
  }
  to {
    background-color: black;
    height: 25%;
    opacity: 1;
    width: 25%;
  }
}
