body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .pagina */
.container-layout {
  background-color: green;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.colunas {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
}

.itens-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.logo-principal {
  margin-top: 40px;
}

.loguinho {
  margin-left: 9.6px;
  margin-right: 32px;
  margin-top: 40px;
  width: 160px;
}

.sub-titulo {
  display: flex;
  justify-content: center;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}

.alinha {
  display: flex;
  flex-direction: row;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px;
}

.props-nav {
  background-color: seagreen;
  border-radius: 2px;
  margin: 0 30px;
}

.container-principal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fly {
  animation: flying 5s ease-out 3s 3 alternate forwards;
}

@keyframes flying {

  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 1200px;
  }
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media only screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

@keyframes voo {
  
  0% {
    margin-left: 0;
    transform: scale(1);
  }

  100% {
    margin-left: 45rem;
    transform: scale(1);
  }
}

@keyframes giro {

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes giro2 {

  100% {
    transform: rotateY(30deg);
  }
}

@keyframes giro-skew {

  25% {
    transform: rotateY(360deg) scale(2, 2);
  }

  50% {
    transform: translateY(-50px) scale(2, 2);
  }

  75% {
    transform: skew(360deg, 360deg) scale(2, 2);
  }
}
