/* * {
  border: 4px solid black;
} */

@media ( max-width : 760px ) {

  .container-layout {
    background: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

body {
  margin: 0 auto;
  width: 80%;
}

.potter-icon {
  width: 100px;
}

.hog-icon {
  width: 100px;
}

.fly {
  animation: flying 2s linear 3s 3 alternate forwards;
  position: relative;
}

@keyframes flying {

  from {
    left: 10px;
  }

  to {
    left: 100px;
  }
}

.skew {
  animation: skew 2s linear 2 alternate;
}

@keyframes skew {

  from {
    transform: skew(-15deg, -15deg) scale(0.7);
  }

  to {
    transform: skew(15deg, 15deg) scale(1.5);
  }
}

.translate {
  animation: translate 2s linear 2 alternate;
}

@keyframes translate {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(180px);
  }
}

.article-animation {
  animation: article-grow 4s linear 2 alternate;
}

@keyframes article-grow {

  from {
    font-size: 100%;
    font-weight: 400;
    width: 100%;
  }

  to {
    font-size: 150%;
    font-weight: 800;
    width: 150%;
  }
}
