
@media only screen and ( max-width : 1170px ) {
    .container-layout {
    background-color: red;
  }
}

@media only screen and ( max-width : 760px ) {
    .container-layout {
    background-color: yellow;
  }
}

.container-orientation {
  border: 1px solid red;
}
