@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.catImage {
  margin-left: 100%;
  max-width: 200px;
}

.fly {
  animation: flying 3s alternate 3 forwards 3s;
  overflow-x: hidden;
  transition-duration: 1s;
}

.transform {
  animation: transFormation 3s steps(5, start) infinite;
  transition-delay: 1s;
}

.article-animation {
  animation-fill-mode: forwards;
  animation-name: article-grow;
}

@keyframes flying {

  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0;
  }
}

@keyframes transFormation {

  from {
    transform: skew(0deg) scale(0.5, 2) translate(10px, 60px);
  }

  to {
    transform: skew(0deg) scale(0.5, 2) translate(10px, 60px);
  }
}

@keyframes article-grow {

  from {
    font-weight: 400;
    max-width: 100%;
  }

  to {
    font-weight: 700;
    max-width: 150%;
  }
}
