/* * {
  outline: red solid 1px;
} */

body {
  margin: 0 auto;
  max-width: 55rem;
}

.fundo {
  background-image: url('old_paper_stock_02_by_ftourini_d48ubt0-fullview.png');
  border-radius: 1rem;
}

header {
  padding: 0.2rem 0.2rem 0 0.5rem;
}

header > img {
  margin-left: 50px;
  margin-top: 33px;
  width: 90%;
}

nav {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 91%;
}

p {
  font-family: headline_twohplhs, sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0;
  padding: 1rem;
  text-align: justify;
}

.texto-nav {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.corpo {
  border: 4px solid black;
  display: flex;
  margin: auto;
  width: 83%;
}

.noticias {
  display: flex;
  flex-direction: column;
}

.texto-artigo {
  padding-top: 0.5rem;
  transition: transform 4s, font-weight 4s;
}

.cabecalho-noticia {
  text-align: center;
}

.titulo-noticia-menor {
  line-height: 2rem;
  padding: 1rem 1rem 0;
}

.viratempo {
  border-radius: 100%;
  float: right;
  height: 11rem;
  margin: 1rem 1rem 0;
  object-fit: cover;
  width: 11rem;
}

.noticias-centro {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
}

.noticias-inferior {
  display: flex;
}

.barra-lateral {
  border-left: 1px solid black;
  padding: 0.7rem 0.7rem 0.7rem 0.9rem;
  text-align: justify;
}

aside {
  color: black;
}

footer {
  font-family: monospace, sans-serif;
  padding: 1rem;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nuncio-vassoura {
  margin: 1rem auto auto;
  max-width: 6rem;
  transform: rotateY(180deg);
}

.anuncio-vassoura:hover {
  cursor: pointer;
}

.vassoura {
  width: 6rem;
}

/* animação pássaro */
.fly {
  animation-delay: 3s;
  animation-direction: normal, alternate, normal;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-timing-function: steps(10);
  background-image: url('bird-cells.svg');
  background-size: auto 100%;
  height: 125px;
  width: 88px;
}

.div-fly {
  animation-delay: 3s, 6s, 9s;
  animation-direction: alternate, normal, normal;
  animation-duration: 3s, 100ms, 100ms;
  animation-fill-mode: forwards, backwards, forwards;
  animation-iteration-count: 3, 1, 1;
  animation-name: voo, giro, giro2;
  animation-timing-function: ease-in, linear, linear;
  margin: 5rem auto 0;
  position: absolute;
  transform: scale(0);
}

.div-passaro:hover , .passaro:hover {
  animation-play-state: paused;
}

@keyframes flying {

  100% {
    background-position: -900px 0;
  }
}

@keyframes voo {

  0% {
    margin-left: 0;
    transform: scale(1);
  }

  100% {
    margin-left: 45rem;
    transform: scale(1);
  }
}

@keyframes giro {

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes giro2 {

  100% {
    transform: rotateY(30deg);
  }
}

/* animação vassoura */
.animacao-vassoura {
  animation-delay: 0s, 5s;
  animation-duration: 5s, 1s;
  animation-fill-mode: forwards, forwards;
  animation-iteration-count: 1, 1;
  animation-name: giro-skew, voar;
}

@keyframes giro-skew {

  25% {
    transform: rotateY(360deg) scale(2, 2);
  }

  50% {
    transform: translateY(-50px) scale(2, 2);
  }

  75% {
    transform: skew(360deg, 360deg) scale(2, 2);
  }
}

@keyframes voar {

  100% {
    transform: translate(500rem, -500rem);
  }
}

/* animação escudo */
.escudo {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: rodar;
  animation-timing-function: linear;
  margin-left: 0.5rem;
  margin-top: 3rem;
  width: 10rem;
}

@keyframes rodar {

  to {
    transform: rotate(0);
  }

  from {
    transform: rotate(360deg);
  }
}

@media screen and ( max-width : 760px ) and ( orientation : portrait ) {

  .container-layout {
    background-color: yellow;
  }

  .div-passaro , .escudo , .vassoura , .cabecalho-noticia > img , hr {
    display: none;
  }

  .noticias-centro , .corpo {
    flex-direction: column;
  }

  .titulo-noticia-menor {
    text-align: center;
  }

  .noticias-inferior {
    display: block;

  }

  .titulo-lateral {
    transform: rotate(0);
    writing-mode: unset;
  }

  .texto-artigo {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  nav {
    flex-direction: column;
  }

  .texto-nav {
    text-align: center;
  }

  .barra-lateral {
    padding-top: 4px;
  }

  .titulo-aside {
    font-size: 3rem;
    margin: 0 -1rem 1rem -1.2rem;
    padding: 1.5rem 0;
  }
}

@media screen and ( max-width : 760px ) and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }

  .div-passaro , .vassoura , .cabecalho-noticia > img , hr {
    display: none;
  }

  .corpo {
    flex-direction: column;
  }

  .titulo-noticia-menor {
    text-align: center;
  }

  .noticias-inferior {
    display: block;
  }

  .titulo-lateral {
    transform: rotate(0);
    writing-mode: unset;
  }

  .texto-artigo {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .barra-lateral {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    text-align: center;
  }

  .titulo-aside {
    font-size: 3rem;
    margin: 0 -1rem 1rem -1.2rem;
    padding: 1.5rem 0;
  }

  .escudo {
    margin-top: 1rem;
  }
}
