body {
  background-color: rgb(255, 238, 143);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.normalize {
  margin: 0;
}

.main-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 20px;
}

.everything {
  background-color: rgb(232, 246, 255);
  border-radius: 20px;
  flex-wrap: wrap;
  height: 100%;
  margin: 3% 6%;
}

hr {
  border-bottom: 3px black solid;
  padding-left: 1100px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  overflow: hidden;
}

.conteudo {
  border: 1px solid black;
  border-radius: 20px;
  min-width: 300px;
  overflow: hidden;
  padding: 10px 0 10px 10px;
  text-indent: 18px;
  width: 30%;
}

h2 {
  animation-delay: 3s;
  animation-duration: 4s;
  animation-name: title-move;
  color: rgb(110, 55, 0);
  font-family: MyWebFont, sans-serif;
  font-size: 150px;
  margin: 0;
}

.h2-first {
  color: rgb(255, 166, 0);
  font-size: 180px;
}

.first-content:active {
  animation: content-bigger 4s forwards;
  transform: scale(1.5);
  transition: all 3s ease-in-out;
}

@keyframes content-bigger {

  from {
    font-weight: 400;
  }

  to {
    font-weight: 700;
  }
}

p {
  font-family: monospace, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
}

.first-letter {
  font-family: Times New Roman, Times, serif;
  font-size: 44px;
}

.voldemort {
  margin-top: 15px;
  -webkit-user-drag: none;
  width: 85%;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  margin-bottom: -160px;
  margin-left: -1650px;
  margin-top: -140px;
}

@keyframes title-move {

  25% {
    transform: skew(-27deg, 28deg);
  }

  50% {
    transform: skew(27deg, -28deg) scale(1.5);
  }

  100% {
    transform: skew(0deg, 0deg);
  }
}

@keyframes flying {

  0% {
    margin-left: -1650px;
  }

  25% {
    transform: translate(30px, 70px);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    margin-left: 1860px;
  }
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}
