.hp {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu ul li {
  display: flex;
  list-style: none;
  text-decoration: none;
}

/* first mobile */

@media ( max-width : 760px ) {

 .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: yellow;
  }
}
