@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    height : 100px;
    width : 100px;
  }
}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color : red;
    height : 100px;
    width : 100px;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.fly {
  animation: flying 4s steps(200) 3 alternate forwards;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-name: flying;
}

.sk {
  animation: skew 0.3s infinite;
  animation-direction: alternate;
  transform: skew(0deg);
}

@keyframes skew {

  0% {
    transform: skewY(3deg);
  }

  100% {
    transform: skewY(-3deg);
  }
}

@keyframes flying {

  0% {
    transform: translate(0, -120%) rotate(45deg);
  }

  20% {
    transform: translate(40%, -100%) rotate(-45deg);
  }

  50% {
    transform: translate(-40%, -80%) rotate(33deg);
  }

  80% {
    transform: translate(20%, -40%) rotate(-17deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes article-grow {

  50% {
    transform: translate(-40%, -80%) rotate(33deg);
  }
}

.article-animation {
  background-color : red;
}
