body {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.menu-itens {
  align-items: center;
  background-color: black;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 200px;
}

.menu-itens:hover {
  transform: translate(5px, 10px);
}

.menu-itens a {
  color: white;
  text-decoration: none;
}

.brasoes {
  width: 100px;
}

.container-layout {
  display: flex;
  flex-wrap: wrap;
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
