@font-face {
  font-family: Mugglenews;
  font-style: normal;
  font-weight: 700;
  src: url('Mugglenews.eot');
  src: url('Mugglenews.eot?#iefix') format('embedded-opentype'),
    url('Mugglenews.woff2') format('woff2'),
    url('Mugglenews.woff') format('woff'),
    url('Mugglenews.ttf') format('truetype'),
    url('Mugglenews.svg#Mugglenews') format('svg');
}

@keyframes article-grow {

  0% {
    font-weight: 100;
    transform: scale(0%);
  }

  20% {
    font-weight: 200;
    transform: scale(5%);
  }

  50% {
    font-weight: 400;
    transform: scale(15%);
  }

  75% {
    font-weight: 600;
    transform: scale(30%);
  }

  95% {
    font-weight: 900;
    transform: scale(50%);
  }

}

@keyframes flying {

  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 300px;
  }

  75% {
    margin-left: 800px;
  }

  80% {
    margin-left: 1200px;
  }

  90% {
    margin-left: 600px;
  }

  100% {
    margin-left: 0;
  }
}

.article-animation {
  animation-duration: 10s;
  animation-name: article-grow;
}

.fly {
  animation: steps(50, end) infinite;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  transform: skew(10deg) scale(1.8) translate(5px);
  transition: width 3s;
}

@media ( orientation : landscape ) {

  body {
    background-color : thistle;
  }

  header {
    color: red;
    text-align: center;
  }

  .container-orientation {
    border: 1px solid red;
  }
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    border-radius: 10px;
    padding: 2%;
  }

  header {
    text-align: center;
  }

  .section-one div p {
    color: black;
    margin-top: 5px;
    padding: 1%;
    text-align: center;
    text-justify: auto;
  }
}

@media ( min-width : 761px ) and ( max-width : 1169px ) {

  .container-layout {
    background-color: rgb(4, 27, 12);
    border-radius: 10px;
    margin: 0 auto;
    padding: 2%;
    width: 75%;
  }

  .text-header {
    font-family: Mugglenews, Fallback, sans-serif;
    font-size: 100px;
    font-stretch: expanded;
    font-weight: 900;
    margin-bottom: -38px;
    margin-top: -10px;
  }

  header {
    color: rgb(255, 248, 248);
    text-align: center;
  }

  .section-one article p {
    color: rgb(255, 248, 248);
    margin-top: 5px;
    padding: 1%;
    text-align: center;
    text-justify: auto;
  }
}

@media ( min-width : 1170px ) {

  body {
    background-color: black;
  }

  .container-layout {
    background-color: red;
    border-radius: 10px;
    margin: 0 auto;
    padding: 2%;
    width: 75%;
  }

  header {
    border-bottom: 5px double black;
    border-top: 5px double black;
    text-align: center;
  }

  .text-header {
    font-family: Mugglenews, Fallback, sans-serif;
    font-size: 100px;
    font-stretch: expanded;
    font-weight: 900;
    margin-bottom: -38px;
    margin-top: -10px;
  }

  .tex-subheader {
    font-family: Arial, Helvetica, sans-serif;
  }
}
