body,
header,
section,
nav,
img,
h1,
p,
article,
div,
aside,
footer {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  background-color: rgb(255, 247, 238);
  border-radius: 15px;
  width: 80%;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

.header-container {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  width: 100%;
}

.logo {
  margin-top: -20px;
}

.logo-letters {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -32px;
}

.tag {
  font-size: 18px;
  margin-top: 8px;
  text-transform: uppercase;
}

.container-layout {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  width: 90.7%;
}

.content {
  display: flex;
  justify-content: center;
}

.img-center img {
  filter: grayscale(100%);
  height: 400px;
  margin: 5px;
  width: 400px;
}

.right {
  margin-left: 20px;
  margin-right: 5px;
  text-align: right;
}

.left {
  margin-right: 20px;
  margin-left: 5px;
  text-align: left;
}

.scape {
  font-family: "Bebas Neue", cursive;
  font-size: 130px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.p-scape {
  text-align: center;
}

@media screen and ( max-width : 760px ) {
  .container-layout {
    background-color: yellow;
  }
}
