@keyframes leviosa {

  from {
    transform: skew(0) scale(1) translate(0);
  }

  to {
    transform: skew(-80deg, 80deg) scale(3) translate(1000%, 200%);
  }
}

@keyframes fly {

  from {
    transform: skew(0) scale(1) translate(0);
  }

  to {
    transform: skew(-80deg, 80deg) scale(3) translateX(100%);
  }
}

body {
  background-color: seashell;
}

.leviosa {
  animation: leviosa 4s steps(400, end) infinite;
  animation-delay: 5s;
}

.fly {
  animation: fly 4s steps(400, end) 3 alternate;
  animation-delay: 5s;
  width: 10em;
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}
