html , body , div , p , form , input , main , label , section {
  border: 0;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategray;
}

.container-layout {
  background-color: green;
  background-image: url('images/sonserina.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

.links {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }

}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    background-image: url('images/lufa-lufa.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .links {
    background-color: black;
  }

}

@media screen and ( min-width : 761px ) and ( max-width : 965px ) {

  .container-layout {
    background-color: blue;
    background-image: url('images/corvinal.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .links {
    background-color: grey;
  }

}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
    background-image: url('images/grifinoria.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .links {
    background-color: gold;
  }
}

.profeta {
  height: 5em;
}


.links a {
  color: white;
  text-decoration: none;
  text-shadow: gray 2px 3px 2px;
}

.fly {
  animation: flying 4s 3s 3 alternate forwards;
  height: 55px;
  position: relative;
  margin-left: -95%;
}

@keyframes flying {

  0% {
    margin-left: -95%;
    transform: scale(1, 1) translate(0, 0);
  }

  50% {
    margin-left: 50%;
    transform: scale(1.3, 1.3) translate(0, -80px);
  }

  100% {
    margin-left: 90%;
    transform: skew(15deg, 180deg);
  }
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
}

section {
  border: 2px solid purple;
}

article {
  border: 1px solid green;
}

aside {
  align-content: space-around;
  background-color: rgb(14, 59, 14);
  display: flex;
  flex-wrap: wrap;
  float: right;
  height: 500px;
  justify-content: space-around;
  text-align: center;
  width: 20%;
}

.copo {
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.alert {
  text-align: center;
}

.copy {
  color: white;
  text-shadow: gray 2px 3px 2px;
}
