body {
  background-color: rgba(255, 228, 134, 0.28);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60px auto;
}

.title-imv {
  animation-duration: 1s;
  animation-name: skewing;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(10px, 0) scale(0.5);
  width: 100%;
}

header {
  grid-column: 1/-1;
  grid-row: 1/2;
  position: relative;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  transform: translate(-50px, 0);
}

.article-animation {
  animation: article-grow 4s steps(4, end);
  animation-play-state: paused;
  transition: all 4s linear;
}

@keyframes article-grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes skewing {
  from {
    transform: skew(70deg);
  }

  to {
    transform: skew(0deg);
  }
}

@keyframes flying {
  from {
    animation: steps(4, end);
    transform: translate(50px, 0);
  }

  to {
    transform: translate(-50px, 0);
    transition: left;
  }
}

@media screen and (max-width: 760px) {
  .container-layout {
    background-color: yellow;
  }
}

@media screen and (min-width: 1170px) {
  .container-layout {
    background-color: red;
  }
}

@media screen and (orientation: landscape) {
  .container-orientation {
    border: 1px solid red;
  }
}
