@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: red;
  }

}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }

}

body , header , h1 , h2 , h3 , section , article , p , aside , footer {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}
