article {
border: 1px black solid;
border-radius: 5%;
line-height: 1.34;
}

body {
background-color: rgb(255, 248, 238);
font-family: Vollkorn, serif;
margin: 0;
}

header {
display: flex;
flex-direction: column;
justify-content: center;
padding: 15px;
}

section {
display: flex;
flex-direction: column;
margin: 20px;
}

.article-animation {
animation: article-grow 4s forwards steps(300, end) paused;
}

.article-conteiner {
align-items: flex-end;
display: flex;
flex-direction: row;
}

.daily-quote {
font-family: Kreon, sans-serif;
font-size: 26px;
font-style: italic;
font-weight: 700;
margin-left: 650px;
}

.fly {
animation: flying 3s alternate 3 forwards 3s steps(300, end);
overflow: hidden;
transition: 2s 1s;
word-wrap: normal;
}

.logo {
margin-left: 150px;
width: 80%;
}

.transform {
animation: transFormation 3s steps(50, end) infinite;
}

.wizard {
margin-left: 100%;
max-width: 200px;
}