@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px red solid;
  }
}

@keyframes flying {

  from {
    margin-left: 3%;
  }

  to {
    margin-left: 95%;
  }
}

@keyframes skewing {

  0% {
    transform: skew(0deg);
  }

  100% {
    transform: skew(180deg);
  }
}

@keyframes article-grow {

  0% {
    font-weight: 400;
    transform: scale(1, 1);
  }

  100% {
    font-weight: 700;
    transform: scale(1.6, 1.6);
  }
}

.tituto-top {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: skewing;
  animation-timing-function: linear;
  width: fit-content;
}

.nave:hover {
  color: black;
  font-weight: 700;
  transform: translateY(-5px);
}

.article-animation:hover {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-name: article-grow;
  animation-timing-function: linear;
  width: fit-content;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  margin-left: 3%;
  width: 3%;
}
