.container-layout {
  background-color: green;
}

.container-orientation{
  border: 1px solid rgb(255, 0, 0);
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}
