@media (max-width: 760px) {
    .container-layout {
        background-color:rgb(255, 255, 0);
        border-radius: 10px;
        padding: 2%;
      }
      header{
        text-align: center;
      }
      .section-one div p {
        color: black;
        margin-top: 5px;
        text-align: center;
        text-justify:auto;
        padding: 1%;
    }
}

@media (min-width : 761px) and (max-width : 1169px){
    .container-layout {
        background-color:rgb(4, 27, 12);
        border-radius: 10px;
        margin: 0 auto;
        padding: 2%;
        width: 75%;
    }

      header {
        color:rgb(255, 248, 248);
        text-align: center;
    }

    .section-one div p {
        color: rgb(255, 248, 248);
        margin-top: 5px;
        text-align: center;
        text-justify:auto;
        padding: 1%;
     }
}
@media (min-width: 1170px) {
  body{
  background-color: black;   
    }

  .container-layout {
    background-color: rgb(255, 0, 0);   
    border-radius: 10px;
    margin: 0 auto;
    padding: 2%;
    width: 75%;
}

header {
  border-bottom: 5px double black;
  border-top: 5px double black;  
  text-align: center;
}

.text-header {
  font-family: DauphinPlain;
  font-size: 100px;
  font-stretch: expanded;
  font-weight: 900;
  margin-top: -10px;
  margin-bottom: -38px;
}

.tex-subheader {
  font-family: Arial, Helvetica, sans-serif;
}
}
