.hp {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu ul li {
  display: flex;
  list-style: none;
  text-decoration: none;
}

/* first mobile */

@media screen and ( max-width : 780px ) {

  body {
    background-color: khaki;
  }
}

@media screen and ( min-width : 1170px ) {

  body {
    background-color: blue;
  }
}
