body {
  background-color: black;
}

.capa-principal {
  background-color: rgb(255, 248, 238);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding: 2%;
  width: 90%;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.exclusivo {
  background-color: rgb(28, 25, 21);
  color: white;
  font-size: 1.7em;
  width: 30%;
}

.artigos-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.artigo {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 69%;
}

.artigo .titulo {
  font-size: 1.3em;
  margin: 0 auto -10px;
  text-align: center;
}

.artigo p {
  font-style: italic;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.divisoria-bold {
  background-color: rgb(28, 25, 21);
  height: 2px;
  margin: 4px 0;
  width: 100%;
}

.divisoria {
  background-color: rgb(28, 25, 21);
  height: 1px;
  width: 100%;
}

.barra {
  background-color: rgb(28, 25, 21);
  height: 25%;
}

.barra p {
  color: white;
  margin: 0;
  text-align: end;
}

.fly {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: flying;
}

@keyframes flying {

  from {
    margin-left: 0;
  }

  to {
    margin-left: 95%;
  }
}

.corpo-do-jornal {
  border: 1px solid black;
  display: flex;
  height: 20%;
  justify-content: space-around;
  margin-top: 5px;
  width: 100%;
}

.artigo-principal {
  height: 50%;
  margin-top: 5px;
  width: 50%;
}

.artigo-principal p {
  text-align: justify;
}

.titulo-principal {
  border: 1px solid black;
  font-size: 40px;
  margin-top: 5px;
}

.letra-grande {
  float: left;
  font-size: 50px;
  margin: 0 5px;
}

.artigo-lateral-direito {
  line-height: 30px;
  width: 25%;
}

.artigo-lateral-esquerdo {
  width: 25%;
}

.container-layout {
  background-color: transparent;
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( min-width : 480px ) and ( orientation : landscape ) {
  
  .container-layout {
    background-color: grey;
  }
}
