
body {
  width: 100%;
}

@media only screen and ( max-width : 1170px ) {
  body {
    background-color: red;
  }
}

@media only screen and ( max-width : 760px ) {
  body {
    background-color: yellow;
  }
}

.container-orientation {
  border: 1px solid red;
}
