@font-face {
  font-family: 'Harry', serif;
  src: url('harry_p/HARRYP__.TTF') format('truetype');
}

body {
  background-color : red;
  border: 5px solid black;
  font-family: 'Harry', serif;
  margin: 0 auto;
  width: 80%;
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color : yellow;
  }

  .logo {
    margin: auto;
  }

}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

}

.titulo {
  font-size: 65px;
  text-align: center;
}

.logo {
  margin: auto;
  width: 200px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.animacao {
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: anima;
}

@keyframes anima {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 87%;
    transform: rotate(360deg);
  }
}

.noticia-principal {
  font-size: 45px;
  text-align: center;
}

h3 {
  font-size: xx-large;
  text-align: center;
}

p {
  margin: auto 20px;
  text-align: justify;
}

span {
  font-style: italic;
}

.ladoL {
  float: left;
  font-size: 26px;
  text-align: right;
  width: 30%;
}

.ladoR {
  float: right;
  font-size: 26px;
  text-align: left;
  width: 30%;
}

.img-center {
  font-size: 26px;
  text-align: center;
}

.casas {
  font-size: 26px;
}
