body {
  background-color: rgb(241, 215, 175);
  color: rgb(0, 0, 59);
}

.titulo {
  animation: titulo alternate;
  animation-duration: 20s;
  font-family: cursive;
  font-size: 5em;
  margin: 0;
  text-align: center;
}

@keyframes titulo {

  30% { opacity: 1;}
  60% { opacity: 0;}

}

.blocos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leviosa {
  animation: leviosa;
  animation-duration: 15s;
  filter: grayscale(100%);
  height: 10em;
  position: absolute;
}

@keyframes leviosa {

  60% { margin-left: 20em; transform:scale(2) skew(-10deg, 10deg)}

}

.dance {
  animation: dance;
  animation-duration: 15s;
  filter: grayscale(100%);
  height: 10em;
  position: absolute;
}

@keyframes dance {

  60% { margin-right: 20em; margin-top:20em; transform:scale(1.5) skew(10deg, -10deg)}

}

.leviosa-text {
  animation: aparece;
  animation-delay: 15s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-left: 10%;
  margin-right: 40%;
  margin-top: 10em;
  opacity: 0;
}

.escola-text {
  animation: aparece;
  animation-delay: 15s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 10em;
  opacity: 0;
}

@keyframes aparece {

  from { opacity: 0;}
  to { opacity:1}

}

@media only screen and (max-width:760px) {
  .container-layout {
    background-color: yellow;
  }

}

@media only screen and (min-width:1170px) {
  .container-layout {
    background-color: red;
  }
}
