@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-timing-function: ease-in;
  height: 100px;
  width: 100px;
}

@keyframes flying {

  from {
    margin-left: 0;
  }

  to {
    margin-left: 1000px;
  }
}
