body {
  background-color: black;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: flying;
  width: 100px;
}

.corpo {
  background-color: rgb(255, 246, 217);
  border-radius: 15px;
  border: solid black 1px;
  margin: 50px;
}

.header {
  text-align: center;
}

.morte {
  animation: reliquias 5s infinite alternate;
  border-radius: 100%;
  float: left;
  margin-top: 30px;
  width: 300px;
}

.text {
  font-size: 30px;
}

.historia {
  border: black solid 3px;
}

@media screen and ( max-width: 760px) {
  .container-layout, .morte {
    background-color: yellow;
    display: none;
    width: 100%;
  }
}

@media screen and ( min-width: 1170px) {
  .container-layout {
    background-color: red;
    width: 100%;
  }
}

@media screen and ( orientation: landscape) {
  .container-orientation {
    border: solid 1px red;
    width: 100%;
  }
}

@keyframes flying {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 90%;
  }
  ;
}

@keyframes reliquias {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}