body {
  background-color: black;
}

.container-layout {
  background-color: #fff8ee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1032px;
}

.fly{
  animation: flyin 2s;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-iteration-count: 3;
}

@keyframes flyin {
  
  0% {
    transform: translate(0, -120%) rotate(45deg);
  }

  20% {
    transform: translate(40%, -100%) rotate(-45deg);
  }

  50% {
    transform: translate(-40%, -80%) rotate(33deg);
  }

  80% {
    transform: translate(20%, -40%) rotate(-17deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
