/* fonts usadas no projeto 
font-family: 'Kelly Slab', cursive;
font-family: 'Open Sans Condensed', sans-serif; */

/* default: para 0 a 759px (mobile) */
*{
    /* border: 1px solid rgba(255, 0, 200); */

}

body {
    background-color: #EDE9DE;
    font-family: 'Kelly Slab', cursive;
}

a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    font-weight: 800;
}

.img-topo {
    max-width: 1000px;
    width: 100%;
}

.container-orientation {
    margin: 0 auto;
    width: 947px;;
}

.container-layout {

    background-color: yellow;
    

}
.article-animation {

}
header{

}

main{
}

.bigbox {
    display: flex; 
    position: relative;
    
}

.box1 {
}

.box2 {
    background-color: yellow;
    width: 30%;
}

aside {
}
nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.topo {
    height: 172px;
    width: 947px;
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.book-animation {
    cursor: pointer;
    left: 60%;
    position: absolute;
    top: 5%;
    transform: rotateZ( 60deg );
    z-index: 10;
}

.pomo-animation {
    cursor: pointer;
    left: 0%;
    position: absolute;
    top: 10%;
    z-index: 11;
}

/* para dispositivos acima de 1170px (desktop) */
@media (min-width: 1170px) {
    .container-layout {
        background-color: red;  
    }
}

.book-animation {
    animation: book 5s linear infinite backwards;
}

.pomo-animation {
    animation: pomo 30s linear infinite backwards;
}

@keyframes book {
    0%{
        transform: scale(1,2) rotate(0deg);
    }
    25%{
        transform: translateX(10vh) translateY(15vh);
    }
    35%{
        transform: skewX(30deg) skew(60deg);
    }
    50%{
        transform: skewX(0deg) skew(0deg) rotateZ(300deg) rotateX(120deg);
    }
    75%{
        transform: scaleX(30vw) translateY(5vh);
    }
    90%{
        transform: scale(1,1) rotate(180deg);
    }
    100%{
        transform: scale(1,2) rotate(0deg);
    }
}

@keyframes pomo {
    0%{
        transform: scale(2,2) translateX(0vh);
    }

    50%{
        transform: scale(1,1) translateX(100vh);
    }

    100%{
        transform: scale(2,2) translateX(0vh);
    }
}