@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    border: 1px solid black;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    background-color: burlywood;
    border: 1px solid red;
  }
}

.container-orientation {
  border: 3px solid black;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 3s;
  animation-name: flying;
}

@keyframes flying {
  o% {}
  50% {}
  100% {}
}

.article-animation {
  animation-duration: 2s;
  animation-name: article-grow;
}

@keyframes article-grow {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(120%);
  }
}
