.content {
  min-height: 100%;
}

.fly {
  animation: flying 4s ease-in 3s 3 alternate;
  animation-fill-mode: backwards;
  margin-left: -50px;
  overflow: hidden;
  position: fixed;
}

.footer {
  background-color: black;
  clear: both;
  color: white;
  height: 30px;
  margin-top: 2px;
  position: relative;
  text-align: center;
}

html , body {
  background-color: lightgrey;
  height: 100%;
  max-width: 760px;
}

h4 {
  margin-top: 5px;
}

.left-content:hover {
  animation: entorta 2s steps(4, end);
  transition: transform 2s ease-out;
}

.main {
  overflow: auto;
  padding-bottom: 10px;
}

.prophet {
  color: #ffed91;
}

.right-content:hover {
  animation: aumenta 2s steps(4, end);
  transition: transform 2s ease-out;
}

.side-bar:hover {
  animation: translada 2s steps(4, end);
  transition: transform 2s ease-out;
}

.sheet {
  border: 1px solid black;
}

@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }

}

@media only screen and ( max-width : 760px ) and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }

}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

}

@keyframes aumenta {

  to {
    transform: scale(1.5);
  }

}

@keyframes entorta {

  to {
    transform: skew(60deg);
  }

}

@keyframes flying {

  0% {
    margin-left: -50px;
    margin-top: 0;
  }

  100% {
    margin-left: 90%;
    margin-top: 90%;
  }

}

@keyframes translada {

  to {
    transform: translate(25px, 25px);
  }

}
