body {
  background-color: black;
}

.article-animation {
  animation: article-grow 4s steps(4, end);
  animation-play-state: paused;
}

.container-layout {
  background-color: #fff8ee;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1032px;
}

.fly {
  animation: steps(3, end);
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  transition-duration: 1s
}

.scale {
  animation: scalee 0.3s steps(3, end) infinite;
  animation-direction: alternate;
  display: flex;
  justify-content: center;
  transition-duration: 1s
}

.skeww {
  animation: skewww 0.3s steps(3, end) infinite;
  animation-direction: alternate;
  transform: skew(0deg);
  transition-duration: 1s;
  width: 83%;
}

@keyframes article-grow {

  0% {
    transform: scale(1);
  }

  50% {
    font-weight: 500;
  }

  100% {
    font-weight: 600;
    transform: scale(1.5);
  }
}

@keyframes scalee {

  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes skewww {

  0% {
    transform: skewY(3deg);
  }

  100% {
    transform: skewY(-3deg);
  }
}

@keyframes flying {

  0% {
    transform: translate(0, -120%) rotate(45deg);
  }

  20% {
    transform: translate(40%, -100%) rotate(-45deg);
  }

  50% {
    transform: translate(-40%, -80%) rotate(33deg);
  }

  80% {
    transform: translate(20%, -40%) rotate(-17deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
