.container-layout {
  background-color: green;
}

.fly {
  animation: flying 2s steps(200, jump-none) 3s 3 alternate forwards;
  position: absolute;
  transform: translateX(-300%);
  width: 150px;
}

@keyframes flying {

  from {
    transform: translateY(0) translateX(-300%) rotate(30deg);
  }

  to {
    transform: translateY(100%) translateX(700%) rotate(30deg);
  }
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( max-width : 700px ) and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
