@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    border: 1px solid black;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    background-color: burlywood;
    border: 5px solid blue;
  }
}

body {
  display: flex;
  justify-content: center;
}

.container-principal {
  background: linear-gradient(#FFF8EE, white);
  border: 2px solid black;
  border-radius: 20px;
  cursor: url(http://cur.cursors-4u.net/others/oth-3/oth246.cur), auto;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 0;
  text-align: justify;
  width: 800px;
}

.container-orientation {
  border: 3px solid black;
}

.logo {
  margin-left: -200%;
  width: 800px;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
}

@keyframes flying {

  o% {
    transform: translate(initial);
  }
  50% {
    transform: translate(1000px);
  }
  100% {
    transform:translate(1600px);
  }
}

.article-animation {
  margin: 8px;
  padding: 5px;
  transition: all;
  transition-duration: 1s;
}
.article-animation:hover {
  animation-direction: alternate;
  animation-duration: 4s;
  animation-name: article-grow;
  transition: all;
}

@keyframes article-grow {

  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.main {
  display: flex;
  margin: 10px;
}

.aside {
  border: 2px solid black;
  margin: 8px;
  padding: 5px;
}
