@keyframes article-grow {

  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

@keyframes embold {

  25% {
    font-weight: 500;
  }

  50% {
    font-weight: 600;
  }

  75% {
    font-weight: 700;
  }

  100% {
    font-weight: 800;
  }
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

p {
  animation: skew 3s 2s steps(4);
}

.img {
  margin: 30px;
  transform: translate(100px, 10px);
  transition-duration: 2s;
  transition-property: transform;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-timing-function: linear;
  position: absolute;
  z-index: 10;
}

.article-animation {
  animation-duration: 4s;
  animation-name: article-grow;
  animation-play-state: paused;
  background-color: royalblue;
  height: 500px;
  margin: 50px;
  position: relative;
  width: 500px;
}

.container-layout {
  display: flex;
  justify-content: space-between;
}

.container-layout aside {
  align-self: flex-start;
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border-color: red;
    border-style: solid;
    border-width: 1px;
  }
}

.article-animation:active {
  animation-play-state: running;
}

.article-animation:active p {
  animation-duration: 4s;
  animation-name: embold;
}

@keyframes skew {

  0% {
    transform: skew(0deg);
  }

  50% {
    transform: skew(45deg);
  }

  100% {
    transform: skew(0deg);
  }
}

@keyframes flying {

  100% {
    transform: translate(600px, 150px) rotate(180deg);
  }
}
