body {
  background: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  width: 40%;
}

.logo {
  width: 10%;
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media all and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-name: flying;
}

@keyframes flying {

  from {
    margin-left: 30%;
    width: 20%;
  }

  to {
    margin-left: 0;
  }
}
