article , body , div , footer , h1 , h3 , ol , main , nav , p , section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.alinha {
  display: flex;
  flex-direction: row;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cabecalho {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pagina {

  /* background: rgb( 116 , 116 , 109 ); */
  display: flex;
  flex-direction: column;
}

.logos {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.sub-titulo {
  display: flex;
  justify-content: center;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px;
}


.alinha-nav {
  background-color: seagreen;
  border-radius: 2px;
  margin: 0 30px;
}

.principal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fly {
  animation: flying 2s linear 3s 3 alternate forwards;
  animation-timing-function: steps(10);
  background-image: url('pomo.png');
  background-size: auto 100%;
  height: 125px;
  width: 88px;
}

.div-fly {
  animation-delay: 3s, 6s, 9s;
  animation-direction: alternate, normal, normal;
  animation-duration: 3s, 100ms, 100ms;
  animation-fill-mode: forwards, backwards, forwards;
  animation-iteration-count: 3, 1, 1;
  animation-name: voo, giro, giro2;
  animation-timing-function: ease-in, linear, linear;
  margin: 5rem auto 0;
  position: absolute;
  transform: scale(0);
}

@keyframes flying {

  100% {
    background-position: -900px 0;
  }
}

@keyframes voo {

  0% {
    margin-left: 0;
    transform: scale(1);
  }

  100% {
    margin-left: 45rem;
    transform: scale(1);
  }
}

@keyframes giro {

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes giro2 {

  100% {
    transform: rotateY(30deg);
  }
}

@keyframes giro-skew {

  25% {
    transform: rotateY(360deg) scale(2, 2);
  }

  50% {
    transform: translateY(-50px) scale(2, 2);
  }

  75% {
    transform: skew(360deg, 360deg) scale(2, 2);
  }
}

@keyframes voar {

  100% {
    transform: translate(500rem, -500rem);
  }
}

.escudo {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: rodar;
  animation-timing-function: linear;
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-top: 3rem;
  width: 10rem;
}

@keyframes rodar {

  to {
    transform: rotate(0);
  }

  from {
    transform: rotate(360deg);
  }
}

@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
