body {
  animation-duration: 3s;
  animation-name: inicial;
  background-color: black;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  width: 100px;
}

.corpo {
  background-color: rgb(255, 246, 217);
  border: solid black 1px;
  border-radius: 15px;
  margin: 50px;
}

.header {
  animation-delay: 3s;
  animation-duration: 3s;
  animation-name: profeta;
  text-align: center;
}

.morte {
  animation: reliquias 5s infinite alternate;
  border-radius: 100%;
  float: left;
  margin-top: 30px;
  width: 300px;
}

.text:hover {
  animation-name: negrito;
  font-size: 30px;
  transition: 50%;
}

.historia {
  border: black solid 3px;
}

@media screen and ( max-width : 760px ) {

  .container-layout , .morte {
    background-color: yellow;
    display: none;
    width: 100%;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
    width: 100%;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: solid 1px red;
    width: 100%;
  }
}

@keyframes flying {

  0% {
    margin-left: 1%;
  }

  50% {
    transform: translate(300px,400px);
  }

  100% {
    margin-left: 90%;
  }
}

@keyframes reliquias {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes profeta {

  from {
    transform: skew(360deg);
  }

  to {
    transform: skew(0deg);
  }
}

@keyframes inicial {

  from {
    transform: scale(10);
  }

  50% {
    transform: scale(30);
  }

  to {
    transform: scale(0);
  }
}

@keyframes negrito {

  0% {
    font-weight: 0;
  }

  50%{
    font-weight: 300;
  }

  100% {
    font-weight: 600;
  }
}
