html , body , div , p , form , input , main , label , section {
  border: 0;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategray;
}

.container-layout {
  background-color: green;
  display: flex;
  justify-content: center;
}

.profeta {
  height: 5em;
  }

.fly {
  animation: flying 4s 3s 3 alternate forwards ;
  height: 55px;
  position: relative;
}

@keyframes flying {

  0% {
    margin-left: 0;
    transform: scale(1, 1) translate(0, 0);
  }

  50% {
    margin-left: 50%;
    transform: scale(1.3, 1.3) translate(0, -80px);
  }

  100% {
    margin-left: 95%;
    transform: skew(15deg, 180deg);
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }

}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }

}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

}
