html,
body,
div,
p,
form,
input,
main,
label,
section {
  border: 0;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}

.container-layout {
  background-color: blue;
}

@media screen and (max-width: 760px) {
  .container-layout {
    background-color: yellow;
  }
}

@media screen and (min-width: 1170px) {
  .container-layout {
    background-color: red;
  }
}
