body {
  background-color: black;
}

.container-layout {
  background-color: #fff8ee;
  display: flex;
  justify-content: center;
  width: 1032px;
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
