body {
    width: 100%;
}

@media only screen and (max-width: 1170px) {
    body {
    background-color: rgb(255, 0, 0);
    }
}

@media only screen and (max-width: 760px) {
    body {
    background-color: rgb(255, 250, 0);
    }
}

.container-orientation {
    border: 1px solid red;
}