.article-animation {
  display: flex;
}

.container-layout {
  background-color: yellow;
  display: flex;
}

.container-orientation {
  border: 1px solid red;
  display: flex;
}

.fly {
  display: flex;
}
@media only screen and (orientation: landscape){
  body {
    background-color: blue;
  }   
}
