@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

@keyframes flying {

  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0;
  }
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-name: flying;

}

.catImage {
  max-width: 200px;
}
