body {
  background-color: rgb(255, 252, 238);
  color: #1c1915;
  font-family: Vollkorn, Times New Roman, Times, serif;
  margin: 5px;
  padding: 0;
}

div, section, nav, aside, footer {
  margin: 0;
  padding: 0;
}

.strong-div-vold {
  font-family: Times New Roman, Times, serif;
  font-size: 6em;
  line-height: 10px;
}

.the {
  bottom: 5px;
  font-size: 0.7em;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.the-line {
  display: flex;
  height: 50px;
  margin: auto;
  margin-bottom: 5px;
  width: 80%;
}

.p-strong {
  color: gold;
  font-size: 1.2em;
}

.section-header {
  display: flex;
  flex-direction: row;
}

.shocking-news {
  text-align: center;
}

.news-h1 {
  margin: 0;
  margin-bottom: 5px;
}

.shocking {
  animation-direction: alternate;
  animation-duration: 125ms;
  animation-iteration-count: infinite;
  animation-name: shocking;
  background-color: gray;
  color: ivory;
  letter-spacing: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.you-know-who {
  background-color: #1c1915;
  color: ivory;
  font-size: 40px;
  letter-spacing: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  bottom: 30px;
  font-size: 3em;
  position: relative;
  text-align: center;
  width: 100%;
}

.div-beware {
  background-color: #1c1915;
  font-size: 15px;
  padding: 0;
}

.headline {
  letter-spacing: 5px;
  margin: 0;
}

.div-divisorTop {
  border: 1px solid #333;
  color: #333;
  margin: auto;
  margin-bottom: 0;
  width: 70%;
}

.div-divisorBot {
  border: 1px solid #333;
  color: #333;
  margin: auto;
  width: 95%;
}

.div-vold {
  margin-left: 10px;
  text-align: left;
}

.aside-text-vold {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 10px;
  padding: 5px;
}

.article-text-vold-top {
  margin-right: 10px;
  position: relative;
  text-align: justify;
  top: 20px;
}

.article-text-vold-bott {
  margin-right: 10px;
  position: relative;
  text-align: justify;
  top: 35px;
}

main section {
  display: flex;
  flex-direction: row;
  height: 500px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 5px;
  width: 95%;
}

main {
  border: 1px solid #1c1915;
}

.dementor {
  position: relative;
  right: 1000px;
  bottom: 80px;
  animation-name: dementor;
  animation-duration: 7s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  transition: 1s;
}

 @keyframes dementor {

  0% { opacity: 0.3; transform: scale(6); transform: skew(15deg, 50deg);}
  50% { opacity: 0.65; transform: scale(3); right: -500px; transform: rotateY(180deg)}
  100% { opacity: 1; transform: scale(.6); right: -100px; transform: skew(1 2);}
 }

@keyframes shocking {

  from {
    background-color: rgba(128, 128, 128, 0.781);
    color: ivory;
  }

  to {
    background-color: #333;
    color: rgba(223, 196, 48, 0.815);
  }
}
