html, body {
  background-color: rgb(46, 42, 42);
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(255, 249, 212);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px;
  width: 1200px;
}

.top-header {
  text-align: center;
}

img:first-child {
  width: 15%;
}

img:nth-child( 2) {
  width: 75%;
}

.top-header h3 {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0px 0px 15px 180px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
}

.exclusive-box {
  background-color: black;
  color: rgb(255, 249, 212);
  margin-right: 20px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
}

.exclusive-text {
  border: 1px solid black;
  color: black;
  flex-wrap: wrap;
  padding: 5px;
  width: 80%;
}

.exclusive-text > h1 {
  margin: 0;
  font-size: 31px;
  width: 30%;
}

.exclusive-items {
  flex-wrap: wrap;
  width: 70%;
}

.exclusive-item {
  margin: 0;
  width: 48%;
}

.exclusive-item:nth-child(2) {
  margin: 0 0 0 20px;
}

.exclusive-item:last-child {
  background-color: black;
  color: white;
  height: 20px;
  padding-right: 10px;
  text-align: end;
  width: 100%;
}
