@media ( max-width : 760px ) {

  article , body , div , footer , h1 , h4 , li , nav , p , ul , section , span {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container-layout {
    background-color: rgb(255, 255, 0);
    padding: 15px 80px 0 80px;
    width: 760px;
  }

  header {
    width: 100%;
  }

  .box-title {
    background: url('title.png') no-repeat;
    background-size: 600px;
    height: 150px;
    margin: 0 auto;
    width: 600px;
  }

  nav {
   
    background-color: rgb(28, 36, 63);
    margin-bottom: 15px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  li {
    margin: 10px;
  }

  a {
    color: white;
    font-size: 21px;
    text-decoration: none;
  }

  .box-word-exclusive {
    background-color: rgb(28, 25, 21);
    padding: 5px 30px;
  }

  .box-word-exclusive p {
    color: white;
    font-size: 35px;
  }

  .box-text {
    border: 1px solid rgb(28, 25, 21);
    margin-top: 10px;
  }

  .box-text-h1 {
    margin: 10px;
  }

  .box-text p {
    font-size: 18px;
    margin: 5px 10px;
    text-align: justify;
  }

  .box-text span, .notice-third span {
    background-color: rgb(28, 25, 21);
    color: white;
    padding: 1px 7px 1px 67%;
  }

  .main-notices {
    border: 1px solid rgb(28, 25, 21);
    margin-top: 10px;
  }

  .notice-primary-h1 {
    font-size: 80px;
    margin: 10px;
    text-transform: uppercase;
  }

  .notice-primary p, .notice-secondary p {
    margin: 10px;
  }

  .notice-primary span, .notice-secondary span {
    float: left;
    font-size: 3em;
    margin-right: 10px;
    margin-top: -6px;
    text-shadow: 3px 0 rgb(117, 117, 29);
    width: fit-content;
  }

  .notice-primary img, .notice-third img {
    margin: 10px;
    width: 580px;
  }

  .notice-secondary-h1 {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
  }

  .line {
    border: 0.5px solid black;
    margin: 10px auto;
    width: 570px;
  }

  .notice-third h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
  }

  .notice-fourth {
    display: flex;
  }

  .notice-fourth-0, .notice-fourth-1 {
    width: 300px;
  }

  .notice-fourth-0-h1 {
    font-size: 3.5em;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .notice-fourth-0 img {
    border-radius: 50%;
    margin: 10px;
    width: 280px;
  }

  .notice-fourth-1-h1 {
    font-size: 3em;
    text-transform: uppercase;
  }

  .notice-fourth-1-h4 {
    margin-top: 10px;
  }

  .notice-fourth-1 p {
    margin-top: 10px;
    text-align: justify;
    width: 280px;
  }

  footer {
    background-color: rgb(28, 36, 63);
    color: yellow;
    margin-bottom: 0;
    padding: 30px;
    width: 600px;
  }
  
}
