.container-layout {
  background-color: yellow;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: auto 0;
  max-width: 760px;
}

@media ( orientation : landscape ) and ( max-width : 760 ) {

  .container-orientation {
    background-color: blue;
    border: 1px solid red;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
    border: 1px solid black;
  }
}
