html , body , div , p , form , input , main , label , section {
  border: 0;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(207, 203, 203);
}

.link {
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  text-align: center;
  transition: background-color 2s;
  width: 100%;
}

.container-orientation {
  display: flex;
  justify-content: space-around;
}

.article-animation {
  animation: article-grow 4s;
  animation-play-state: paused;
  background-color: white;
  opacity: 0;
  transition: all 1s;
  width: 30%;
}

.article-animation:hover {
  opacity: initial;
}

@keyframes article-grow {

  from {
    transform: scale(1);
  }

  to {
    font-weight: 900;
    transform: scale(1.5);
    width: 800;
  }
}

.container-layout {
  background-color: white;
  text-align: center;
  transition: background-color 2s, background-image 2s;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-timing-function: linear;
  position: absolute;
  transform: translateX(-200px);
}

@keyframes flying {

  0% {
    transform: translateX(-200px) rotateY(180deg);
  }

  50% {
    transform: translateX(1500px) rotateY(180deg);
  }

  51% {
    transform: skew() scale();
  }

  52% {
    transform: translateX(1500px);
  }

  100% {
    transform: translateX(-200px);
  }
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }

  .link {
    background-color: black;
    transition: background-color 2s;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

  .link {
    background-color: grey;
    transition: background-color 2s;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}
