@media ( max-width : 760px ) {

  .container-layout {
    background: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.fly {
  animation: flying 2s linear 3s 3 alternate forwards;
  position: relative;
}

@keyframes flying {

  from {
    left: 10px;
  }

  to {
    left: 1000px;
  }
}

.skew {
  animation: skew 2s linear infinite alternate;
}

@keyframes skew {

  from {
    transform: skew(-15deg, -15deg);
  }

  to {
    transform: skew(15deg, 15deg);
  }
}

.scale {
  animation: scale 2s linear infinite alternate;
}

@keyframes scale {

  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1.5);
  }
}

.translate {
  animation: skew 2s linear infinite alternate;
}

@keyframes translate {

  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1.5);
  }
}

