@font-face {
  font-family: Harrytittle;
  src: url('./fonts/harry-tittle.ttf');
}

@font-face {
  font-family: Harrytext;
  src: url('./fonts/harry-text.ttf');
}

html {
  background-color: black;
  border: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 25px;
  padding: 0;
}

body {
  animation: jornalScale 30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background-image: url('imgs/pergaminho.png');
  border-radius: 1rem;
  width: 1100px;
}

aside img {
  width: 200px;
}

a:hover{
  opacity: 0.7;
}

.mainNews{
  display: flex;
  justify-content: space-around;
}

.othersNews{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

#battleHog {
  bottom: 25px; 
  position: relative;
  width: 60%; 
}

#siriusEscape {
  bottom: 25px; 
  position: relative;
  width: 30%; 
}

#textTittle {
  font-family: Harrytext,serif; 
  font-size: 40vh;
  opacity: 0.9; 
  width: 100%; 
}

#textSubTittle {
  font-family: Harrytext,serif; 
  font-size: 23vh;
  opacity: 0.9; 
  width: 100%; 
}

#textRight {
  font-family: Harrytext,serif; 
  font-size: 26px; 
  opacity: 0.8; 
  text-align: center;
  width: 250px; 
  word-wrap: break-word; 
}

#textLeft {
  font-family: Harrytext,serif; 
  font-size: 30px; 
  opacity: 0.8; 
  text-align: center;
  width: 250px; 
  word-wrap: break-word; 
}

#textTittleRight {
  font-family: Harrytext,serif; 
  font-size: 8vh;
  opacity: 0.9; 
  text-align: center; 
  width: 60%; 
  word-wrap: break-word; 
}

#textTittleLeft {
  font-family: Harrytext,serif; 
  font-size: 8vh;
  opacity: 0.9; 
  text-align: center; 
  width: 30%; 
  word-wrap: break-word; 
}

#textOtherRight {
  bottom: 50px; 
  font-family: Harrytext,serif; 
  font-size: 22px;
  opacity: 0.9; 
  position: relative; 
  width: 60%; 
  word-wrap: break-word; 
}

#textOthersLeft {
  bottom: 50px; 
  font-family: Harrytext,serif; 
  font-size: 22px;
  opacity: 0.9; 
  position: relative; 
  width: 30%; 
  word-wrap: break-word; 
}

#tittleAside {
  font-family: Harrytext,serif; 
  font-size: 6vh; 
  opacity: 0.9; 
  text-align: center;
}

#textAside {
  font-family: Harrytext,serif; 
  font-size: 22px;
  opacity: 0.9; 
  padding-top: 50px; 
}


footer{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

footer ul{
  align-items: center;
  color: black;
  display: flex;
  list-style-type: none;
}

footer ul li a {
  color: black;
  font-size: 3rem;
  margin-right: 25px;
}

@media screen and ( max-width : 760px ) {
  .container-layout {
  background: yellow;
  }
}

@media screen and ( min-width : 1170px ) {
  .container-layout {
  background: red;
  }
}

@media screen and (orientation: landscape ) {
  .container-orientation {
  border: 1px solid red;
  }
}
