body {
  background-color: seashell;
}

.leviosa {
  animation: leviosa 4s steps(400, end) infinite;
  animation-delay: 5s;
}

@keyframes leviosa {

  from {
    transform: skew(0) scale(1) translate(0);
  }

  to {
    transform: skew(-80deg, 80deg) scale(3) translate(1000%, 200%);
  }
}
