body{
  background-color: rgb(241, 215, 175);
  color: rgb(0, 0, 59);
}
.titulo{
  animation: titulo alternate;
  animation-duration: 20s;
  font-family: cursive;
  font-size: 5em;
  margin: 0;
  text-align: center;
  text-shadow: burlywood;
  
}
@keyframes titulo{
  30%{opacity: 100;}
  60%{opacity: 0;}
}
.blocos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leviosa{
  animation: leviosa;
  animation-duration: 15s;
  filter: grayscale(100%);
}
@keyframes leviosa{
  20%{}
  60%{transform:skew(-10deg, 10deg) scale(2); margin-left: 25em;}
  100%{}
}
.dance{
  animation: dance;
  animation-duration: 15s;
  filter: grayscale(100%);
}
@keyframes dance{
  20%{}
  60%{transform:skew(10deg, -10deg) scale(1.5); margin-right: 15em;}
  100%{}
}
.leviosa-text{
  margin-right: 40%;
}
@media only screen and (max-width:760px){
  .container-layout{
    background-color: rgb(255, 255, 0);
  }
}
@media only screen and (min-width:1170px){
  .container-layout{
    background-color: rgb(255, 0, 0);
  }
}