@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.fly {
  animation: flying 4s steps(200, jump-none) 3s 3 alternate forwards;
  position: relative;
}

@keyframes flying {

  0% {
    left: 0;
    top: 0;
  }

  100% {
    left: 1700px;
    top: 0;
    transform: scale(1, 1) skew(1deg) translate(1, 1);
  }
}
