.artigo-principal {
  display: flex;
  flex-direction: column;
}

body {
  background-color: white;
}

.container-layout {
  border: 1px solid red;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: flying;
  height: 50%;
  width: 50%;
}

hr {
  background-color: black;
  height: 5px;
}

.img1 {
  align-self: flex-end;
  animation: scaling 2s linear infinite alternate;
  height: 100%;
  margin-right: 10px;
  padding: 10px;
  width: 400px;
}

.img2 {
  width: 25%;
}

.img2:hover {
  transform: translate(20px, 50px);
  transition-duration: 3s;
  width: 50%;
}

.paragrafo1 {
  align-self: flex-start;
  display: flex;
  font-size: 30px;
  margin: 10px;
}

.paragrafo2 {
  background-color: sandybrown;
  font-size: 50px;
  text-align: center;
}

.secao1 {
  color: white;
}

.sub-hr {
  background: grey;
  height: 1px;
}

.titulo-principal {
  align-self: center;
  margin: 10px;
  width: 98%;
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: rgb(255, 0, 0), red;
  }
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: rgb(255, 255, 0), yellow;
  }

  .img1 {
    align-self: flex-start;
    display: flex;
    height: 200px;
    width: 200px;
  }
}

@keyframes flying {

  from {
    margin-left: 100%;
  }

  to {
    margin-left: 1%;
  }
}

@keyframes scaling {

  0% {
    transform: scale(0.4, 0.4);
  }

  50% {
    transform: scale(1, 1);
  }

  75% {
    transform: skew(20deg);
  }
}
