@media ( max-width : 1644px ) {

  .name {
    font-size: 60px !important;
  }

  .insignia {
    display: none;
  }

  .news-grid {
    grid-template-columns: 50% 50% !important;
  }

  .aside-col {
    display: flex;
    grid-column: 1 / 3;
  }
}

@media ( max-width : 935px ) {

  .name {
    font-size: 40px !important;
    text-align: center;
  }

  .bottom-header {
    font-size: 14px;
  }

  .news-grid {
    display: flex !important;
    flex-direction: column;
  }

  .aside-col {
    display: flex !important;
    flex-direction: column;
  }
}

@media ( max-width : 760px ) {

  .name {
    font-size: 60px;
  }

  .container-layout {
    background: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background: red;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.container-layout {
  border-radius: 5em;
}

body {
  background-color: darkgrey;
  font-family: 'Slabo 27px', serif;
  margin: 0 auto;
  width: 80%;
}

article {
  margin: 20px;
}

article:hover {
  animation: article-grow 4s linear 2 alternate;
  background-color: slategray;
}

@keyframes article-grow {

  from {
    font-size: 100%;
    font-weight: 400;
    width: 100%;
  }

  to {
    font-size: 150%;
    font-weight: 800;
    width: 150%;
  }
}

nav {
  margin-top: 20px;
  text-align: center;
}

a {
  color: black;
  font-weight: 800;
  margin: 10px;
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

footer {
  text-align: center;
}

.flex-column {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.first-border {
  align-items: center;
  display: flex;
  justify-content: center;
}

.the {
  font-family: times new roman, Arial, Helvetica, sans-serif;
  font-size: 400%;
  margin: 0 20px;
}

.line {
  border-bottom: 2px solid black;
  border-top: 5px solid black;
  height: 1px;
  width: 45%;
}

.insignia {
  width: 13%;
}

.bottom-line {
  border-bottom: 2px solid black;
  border-top: 5px solid black;
  height: 1px;
  margin-top: 30px;
  width: 100%;
}

.newspaper {
  background-image: url('img/paperboard-texture_95678-72.jpg');
  background-repeat: repeat;
  box-shadow: 10px 10px black;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2em 0;
  padding: 2em;
}

.name {
  font-family: Holtwood One SC, serif;
  font-size: 100px;
}

.header-img {
  width: 100%;
}

.potter-icon {
  width: 100px;
}

.hog-icon {
  width: 100px;
}

.fly {
  animation: flying 2s linear 3s 3 alternate forwards;
  position: absolute;
  transform: translateX(-300%);
}

@keyframes flying {

  from {
    transform: translateY(0) translateX(-300%) rotate(30deg);
  }

  to {
    transform: translateY(100%) translateX(700%) rotate(30deg);
  }
}

.skew {
  animation: skew 2s linear 2 alternate;
}

@keyframes skew {

  from {
    transform: skew(-15deg, -15deg) scale(0.7);
  }

  to {
    transform: skew(15deg, 15deg) scale(1.5);
  }
}

.news-grid {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.nimbus {
  width: 15%;
}
