/* @media screen and (max-width: 760px) {
  .container-layout {
    background-color: rgb(255, 255, 0);
  }
}

@media screen and (min-width: 1170px) {
  .container-layout {
    background-color: rgb(255, 0, 0);
  }
}
@media screen and (){
  .container-orientation{
    border: 1px solid red;
  }
} */

body {
  background-color: #fffa;
  border: 100px solid;
  margin: 0;
  padding: 0;
}

article {
  background-color: #fffa;
  border: 1px solid;
  display: flex;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
}

header {
  margin-top: 20px;
}

.hr1 {
  border-bottom: 1px solid #1c1915;
  border-top: 0.187em solid #1c1915;
  margin: auto;
  width: 90%;
}

.hr2 {
  border-bottom: 0.187em solid #1c1915;
  border-top: 1px solid #1c1915;
  margin: auto;
  width: 90%;
}

.header {
  display: flex;
  justify-content: center;
}

.titulo {
  margin-left: 15px;
}

.subtitle {
  display: flex;
  margin: auto;
  width: 35%;
}

.exclusivo {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 35px;
  height: 190px;
}

.gif {
  height: 189px;
  width: 50%;
}

.section1 {
  align-items: center;
  background-color: #fffa;
  border: 1px solid;
  display: flex;
  height: 190px;
  margin: auto;
  width: 90%;
}

.psection1 {
  align-items: center;
  display: flex;
  line-height: 1.5;
  margin-left: 20px;
  width: 30%;
}

.link {
  display: contents;
}

.fly {
  animation: flying 4s;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  height: 80px;
}

@keyframes flying {

  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 90%;
  }
}

.noticiash3 {
  margin-left: 30px;
}

.gifheppy {
  display: flex;
  width: 400px;
}

.asidedireita {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
}

.asidedireitah2 {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}
