body {
  color: #333;
  font-family: Times New Roman, Times, serif;
  margin: 5px;
  padding: 0;
}

.the {
  bottom: 5px;
  font-size: 0.7em;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.the-line {
  display: flex;
  height: 50px;
  margin: auto;
  margin-bottom: 5px;
  width: 80%;
}

.p-strong {
  color: gold;
  font-size: 1.2em;
}

.section-header {
  display: flex;
  flex-direction: row;
}

.shocking-news {
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.news-h1 {
  margin: 2px;
}

.shocking {
  animation-direction: alternate;
  animation-duration: 125ms;
  animation-iteration-count: infinite;
  animation-name: shocking;
  background-color: gray;
  color: ivory;
  letter-spacing: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.you-know-who {
  background-color: #333;
  color: ivory;
  font-size: 40px;
  letter-spacing: 3px;
  padding: 2px;
}

.header {
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.headline {
  letter-spacing: 5px;
  margin: 0;
}

.div-divisorTop {
  border: 1px solid #333;
  color: #333;
  margin: auto;
  margin-bottom: 0;
  width: 70%;
}

.div-divisorBot {
  border: 1px solid #333;
  color: #333;
  margin: auto;
  width: 95%;
}

main {
  border: solid 1px #333;
  height: 80%;
  margin: auto;
  margin-top: 20px;
  width: 95%;
}

@keyframes shocking {
  from {
    background-color: rgba(128, 128, 128, 0.781);
    color: ivory;
  }
  to {
    background-color: #333;
    color: rgba(223, 196, 48, 0.815);
  }
}
