.body {
  margin: 0;
  padding: 0;
}

.container-layout {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.topo {
  width: 50%;
}

.column {
  background-color: aqua;
  float: left;
  padding: 20px;
  width: 25%;
}

.img-section {
  width: 100%;
}

.navbar {
  display: flex;
  float: left;
}

.navbar a {
  color: darkgoldenrod;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

.sub-navbar {
  display: flex;
  float: left;
  margin: 5px;
}

.section-article {
  background-color: blueviolet;
  display: flex;
  flex: 70%;
  padding: 20px;
}

.section-conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-aside {
  background-color: blue;
  display: flex;
  flex: 30%;
  padding: 20px;
}

.section-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

@media screen and ( max-width : 760px ) {

  .container-layout {
    width: 100%;
  }

  .column {
    width: 100%;
  }

  .container-orientation {
    flex-direction: row;
  }

  .topo {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  a:hover {
    background-color: yellow;
    color: black;
  }

  .section-conteudo {
    float: left;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    width: 50%;
  }

  .column {
    width: 50%;
  }

  .container-orientation {
    flex-direction: column;
  }

  .navbar a:hover {
    background-color: red;
    color: black;
  }
}
