@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px;
    border-color: red;
    border-style: solid;
  }
}

.fly {
  animation: steps(4, end);
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-play-state: running;
}


@keyframes flying {

  from {
    margin-left: 0;
  }

  to {
    margin-left: 75%;
  }
}

@keyframes skewing {

  0% {
    transform: skew(0deg);
  }

  100% {
    transform: skew(180deg);
  }
}

.eternal-skewing {
  animation: skewing 5s linear infinite steps(4, end);
  transition: 2s;
  width: fit-content;
}

@keyframes scaling {

  0% {
    transform: scale(0.5, 2);
  }

  50% {
    transform: scale(1.5, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.eternal-scaling {
  animation: scaling 2s linear infinite alternate steps(4, end);
  background-color: #e0e0e0;
  transition: 2s;
}

@keyframes translating {

  0% {
    transform: translate(20px, 5px);
  }

  100% {
    transform: translate(-20px, -5px);
  }
}

.eternal-translation {
  animation: translating 2s linear infinite alternate steps(4, end);
  background-color: #e0e0e0;
  transition: 2s;
}

.container {
  width: 400px;
}

.article-animation {
  animation-duration: 4s;
  animation-name: article-grow;
  animation-play-state: paused;
}

@keyframes article-grow {

  0% {
    font-weight: 400;
    transform: scale(1);
  }

  100% {
    font-weight: 800;
    transform: scale(1.5);
  }
}
