@media (max-width: 760px) {
  .container-layout {
    background: yellow;
  }
}

@media (min-width: 1170px) {
  .container-layout {
    background: red;
  }
}

@media (orientation: landscape) {
  .container-orientation {
    border: 1px solid red;
  }
}

.potter-icon {
  animation: flying 2s linear 3s 3 alternate forwards;
  position: relative;
}

@keyframes flying {
  from {
    left: 10px;
  }
  to {
    left: 1000px;
  }
}
