@media ( max-width: 760px ) {
  .container-layout {
    background-color: yellow;
    width: 100%;

  }
}

@media ( min-width: 1170px ) {
  .container-layout {
    background-color: red;

  }
}

@media ( max-width: 800px ) and ( orientation: landscape ) {
  .container-orientation {
    border: solid 1px red;

  }
}
