body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .pagina */
.container-layout {
  background-color: green;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.colunas {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
}

.itens-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.logo-principal {
  margin-top: 40px;
}

.loguinho {
  margin-left: 9.6px;
  margin-right: 32px;
  margin-top: 40px;
  width: 160px;
}

.sub-titulo {
  display: flex;
  justify-content: center;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}

.alinha {
  display: flex;
  flex-direction: row;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px;
}

.props-nav {
  background-color: seagreen;
  border-radius: 2px;
  margin: 0 30px;
}

.container-principal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fly {
  animation: flying 5s ease-out 3s 3 alternate forwards;
}

@keyframes flying {

  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 1200px;
  }
}
