@font-face {
  font-family: goticween;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/gotic_weengoticween.eot?#iefix') format('embedded-opentype'),
    url('./fonts/gotic_weengoticween.ttf') format('truetype'),
    url('./fonts/gotic_weengoticween.woff') format('woff'),
    url('./fonts/gotic_weengoticween.woff2') format('woff2'),
    url('./fonts/gotic_weengoticween.svg#webfontregular') format('svg');
  src: url('./fonts/goticween.ttf');
}


@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

body {
  background-image: url('./imgs/oldpaper.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: goticween, sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  height: 30vh;
  justify-content: center;
  width: 100vw;
}

h1 {
  align-self: center;
  font-size: 40px;
  margin-top: 4%;
  width: 650px;
  word-spacing: 20px;
}

header > nav {
  border-bottom: black solid 1px;
  border-top: solid black 1px;
}

header > nav > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  height: 30px;
  justify-content: space-around;
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  width: 100vw;
}

a {
  color: black;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: space-around;
  width: 100%;
}

aside {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 530px;
  margin: 2%;
  width: 30%;
}

h2 , p {
  word-spacing: 5px;
}

.tituloE {
  align-self: center;
  border-bottom: solid black 1px;
}

aside > div {
  background-image: url('./imgs/dragon2.gif');
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
}

.fly {
  animation: flying 3s alternate 3 forwards 3s;
}

@keyframes flying {

  from {
    margin-bottom: 0;
    margin-left: 0;
  }

  to {
    margin-left: 400px;
    margin-top: -550px;
    transform: scale(1.5);
  }
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  letter-spacing: 3px;
  margin: 1%;
  width: 50%;
}

.tituloD {
  height: auto;
  width: 500px;
}

.mapa {
  border: 2px solid black;
  height: 300px;
  width: 300px;
}
