@media screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }
}

@media screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

@media screen and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.catImage {
  max-width: 200px;
  margin-left: 100%;
}

.fly {
  animation: flying 3s alternate 3 forwards 3s;
  overflow-x: hidden;
}

@keyframes flying {

  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0;
  }
}
