body {
  background-color: rgb(241, 215, 175);
  color: rgb(0, 0, 59);
}

.titulo {
  animation: titulo alternate;
  animation-duration: 20s;
  font-family: cursive;
  font-size: 5em;
  margin: 0;
  text-align: center;
}

@keyframes titulo {

  30% { opacity: 1;}

  60% { opacity: 0;}

}

.blocos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leviosa {
  animation: leviosa;
  animation-duration: 10s;
  filter: grayscale(100%);
  height: 10em;
}

@keyframes leviosa {

  0% { margin-left: 0;
    transform: scale(1) skew(0deg, 0deg);}

  60% { margin-left: 10em;
    transform: scale(2) skew(-10deg, 10deg);}

  100% { margin-left: 0;
    transform: scale(1) skew(0deg, 0deg);}
}

.dance {
  animation: dance alternate;
  animation-duration: 12s;
  filter: grayscale(100%);
  height: 10em;
}

@keyframes dance {

  0% { margin-right: 0;
    transform: scale(1) skew(0deg, 0deg);}

  60% { margin-right: 10em;
    transform: scale(1.5) skew(10deg, -10deg);}

  100% { margin-right: 0;
    transform: scale(1) skew(0deg, 0deg);}

}

.leviosa-text {
  animation: aparece;
  animation-delay: 11s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.escola-text {
  animation: aparece;
  animation-delay: 13s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes aparece {

  from { opacity: 0;}

  to { opacity: 1;}

}

@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }

}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }
}

a {
  margin-left: 20em;
}

.fly {
  animation: flying;
  animation-delay: 3s;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  position: absolute;
  width: 8em;
}

@keyframes flying {

  0% { margin-right: 0;}

  60% { margin-right: 10em;
    margin-left: 200em;
    transform: scale(3) skew(10deg, -10deg) translateY(50%);
  }

  90% { margin-right: 0;
    transform: scale(-1) skew(-20deg, 20deg) translateY(0);}

  100% { transform: scale(1) skew(0deg, 0deg) translateY(0);}

}
