.content {
  min-height: 100%;
}

.footer {
  background-color: black;
  clear: both;
  color: white;
  height: 30px;
  margin-top: 2px;
  position: relative;
  text-align: center;
}

html , body {
  background-color: lightgrey;
  height: 100%;
  max-width: 760px;
}

.main {
  overflow: auto;
  padding-bottom: 100px;
}

.prophet {
  color: #ffed91;
}

.sheet {
  border: 1px solid black;
}

@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }

}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

}
