html , body {
  font-family: Amatic SC, cursive;
  margin: 0;
}

@media ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    display: flex;
    flex-direction: column;
  }

  .main-article {
    border: 3px solid black;
    margin: 0;
  }
}

@media ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

  .main-article {
    border: 3px solid black;
    margin: 50px;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

.paragraph {
  font-size: 25px;
}

.container-layout {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.subtitle {
  font-size: 40px;
  text-align: center;
}

.subtitle:hover {
  transform: scale(2.5);
  transition-duration: 3s;
}

.subtitle-aside {
  font-size: 40px;
  text-align: center;
}
  
.subtitle-aside:hover {
  transform: translate(50px, 100px);
  transition-duration: 10s;
}

.header {
  display: flex;
  justify-content: center;
}

.header .main-title {
  font-size: 80px;
}

.header .main-title:hover {
  transform: skew(30deg, 20deg);
  transition: ease-in-out;
  transition-duration: 3s;
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-name: flying;
  animation-timing-function: ease-in;
  height: 100px;
  position: absolute;
  width: 100px;
}

.footer {
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
}

@keyframes flying {

  from {
    margin-left: 0;
  }

  to {
    margin-left: 90%;
  }
}
