@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
    height : 100px;
    width : 100px;
  }
}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color : red;
    height : 100px;
    width : 100px;
  }
}

@media ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }
}

@keyframes flying {

  0% {
    background-color: red;
    left: 0;
  }

  50% {
    background-color: blue;
    left: 200px;
  }

  100% {
    background-color: red;
    left: 200px;
  }
}

.fly {
  animation-delay: 3s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-name: flying;
}
