body {
  background-color: black;
}

.capa-principal {
  background-color: rgb(255, 248, 238);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding: 2%;
  width: 90%;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.exclusivo {
  background-color: rgb(28, 25, 21);
  color: white;
  font-size: 1.7em;
  width: 30%;
}

.artigos-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.artigo {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 69%;
}

.artigo h2 {
  font-size: 1.3em;
  margin: 0 auto -10px;
  text-align: center;
}

.artigo p {
  font-style: italic;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.divisoria-bold {
  background-color: rgb(28, 25, 21);
  height: 2px;
  margin: 4px 0;
  width: 100%;
}

.divisoria {
  background-color: rgb(28, 25, 21);
  height: 1px;
  width: 100%;
}

.barra {
  background-color: rgb(28, 25, 21);
  height: 25%;
}

.barra h3 {
  color: white;
  margin: 0;
  text-align: end;
}

.fly {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: flying;
}

@keyframes flying {

  from {
    margin-left: 0;
  }

  to {
    margin-left: 95%;
  }
}
