html , body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(255, 249, 212);
  display: flex;
  margin: auto;
  padding: 50px;
  width: 80%;
}

img:first-child {
  width: 15%;
}

img:nth-child( 2 ) {
  width: 75%;
}

.top-header:last-child {
  font-size: 1.5vw;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
