.content {
  min-height: 100%;
}

.footer {
  background-color: black;
  clear: both;
  color: white;
  height: 30px;
  margin-top: 2px;
  position: relative;
  text-align: center;
}

html , body {
  background-color: lightgrey;
  height: 100%;
  max-width: 760px;
}

h4 {
  margin-top: 5px;
}

.main {
  overflow: auto;
  padding-bottom: 10px;
}

.prophet {
  color: #ffed91;
}

.sheet {
  border: 1px solid black;
}

@media only screen and ( max-width : 760px ) {

  .container-layout {
    background-color: yellow;
  }

}

@media only screen and ( max-width : 760px ) and ( orientation : landscape ) {

  .container-orientation {
    border: 1px solid red;
  }

}

@media only screen and ( min-width : 1170px ) {

  .container-layout {
    background-color: red;
  }

}

@media only screen and ( min-width : 761px ) {

  .left-content:hover {
    animation: entorta 2s;
    transition: transform 2s ease-out;
  }

  .right-content:hover {
    animation: aumenta 2s;
    transition: transform 2s ease-out;
  }

  .side-bar:hover {
    animation: translada 2s;
    transition: transform 2s ease-out;
  }

}

@keyframes aumenta {

  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.5);
  }

}

@keyframes entorta {

  0% {
    transform: skew(30deg);
  }

  100% {
    transform: skew(-30deg);
  }

}

@keyframes translada {

  0% {
    transform: translate(10px, 10px);
  }

  50% {
    transform: translate(25px, 25px);
  }

}
