@font-face {
  font-family: goticween;
  src: url('gotic_weengoticween.eot');
  src: url('./fonts/gotic_weengoticween.eot?#iefix') format('embedded-opentype'),
    url('./fonts/gotic_weengoticween.woff2') format('woff2'),
    url('./fonts/gotic_weengoticween.woff') format('woff'),
    url('./fonts/gotic_weengoticween.ttf') format('truetype'),
    url('./fonts/gotic_weengoticween.svg#webfontregular') format('svg');
  font-weight: 400;
  font-style: normal;

}
